/*COLORES ADOBE COLOR */

/*

1.  #FF969E
2.  #E5878E 
3.  #BF7077
4.  #7F4B4F
5.  #402528

#ee7984====rosado 

*/

// *{
//   // outline: 2px solid red;
//   padding: 0px;
//   -webkit-box-sizing:border-box;
//   box-sizing: border-box;
// }

/*ABOUTME*/
@import "parciales/_proyectos.scss";
@import "parciales/_menu.scss";
@import "parciales/_media.scss";







#about{
 background-color: #BF7077; 

#profile{
  border-radius: 50%;
  margin: auto;
  clear: right;
}

   h1{
      color:#402528;
      font-size: 4em;
      font-weight:600;
      font-family: 'Barlow Condensed', sans-serif;
   }
.jumbotron{
  background-color: #f4a19a; 
  margin-top: auto;
}
.row #about-me{
   font-family: 'Barlow Condensed', sans-serif;
  color: wheat;
  text-align: center;
  margin:15px auto; 
  font-size: 1.4em;
}
#belowhr{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  color:  wheat;
  font-size: 1.1em;
  font-weight: bold;
}
#decorate{
  font-size: 1.8em;
  margin: 35px 10px 5px;
}
.frase{
  color:wheat;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  margin-left:20%;
}
.autor{
   margin-left:0%;
}
hr{
  border-top: 5px solid  wheat;
}

}

/*HABILIDADES*/

#habilidades{
    width:100%;
    height:auto;
    background:black;
    margin-top:-5%;
  svg {width:30%;
    }
  h1{
      color: #E5878E;
      font-size: 50px;
      font-weight:600;
      font-family: 'Barlow Condensed', sans-serif;
   }
   h3{
    font-size:1.5em;
    font-family: 'Barlow Condensed', sans-serif;
    color:#E5878E;
.sass{
   width:100%;
  height:30px;
  color:#E5878E;
  padding:0em;
  transition:150ms ease transform;
}

.sass:hover{
  transform:scale(1.2);
}
   }
   text{
     color: wheat;
   }
   // iconos
  .icon-html-five , .icon-css3 ,.icon-brand4 , .icon-html-five2 , .icon-bold , .icon-brand4, .icon-flattr , .icon-wordpress , .fa-medium , .icon-mask {
        font-size:1.5em;
        color:#E5878E;
        margin-top:10%;  
   }
 
}

//VOLVER AL INICIO
// #volver{
//   height: 8vh;
//   background:#6f393f; 
//   margin-top: -60px;

// }
// CONTACTO//
    .panel-footer{
      height:auto;
      padding: 10px;
      background: #000;
      font-family: 'Barlow Condensed', sans-serif;
      #fondo{
        background:black;
      }

      #contacto{
        background-color:wheat;
      }

      h1{
          color: #402528;
          font-size: 50px;
          font-weight:600;
          font-family: 'Barlow Condensed', sans-serif;
       }
    .icon-mail4{
        color:#7F4B4F;
        font-size:30px;
        margin-left:5%;
        padding: 10px 10px;
        border: solid #7F4B4F;
        border-radius: 40px;
      }

    .panel-footer #follow a{
      margin-right: 5px;
      font-size: 1.5em;
      color: white;
    }
    .panel-footer #follow  a:hover{
      color: #7F4B4F;
    }
    .last{
      border-top: 2px solid #7F4B4F;
      border-style:#7F4B4F;
       
    }
    p{
     font-size:1.4em; 
    }


    //  redes sociales
      .fa-github , .fa-linkedin , .fa-pinterest{
        color:#7F4B4F;
        font-size:2em;
        padding: 10px 10px;
        border: solid #7F4B4F;
        margin:10px;
        &:hover{
          color:#402528;
        }
      }
      // descargar mi cv
      button{
        padding: 10px 16px;
       background:transparent;
       border:solid #7F4B4F;
       border-radius: 5px;
       font-weight:600;
       &:hover{
         color: wheat;
         background:#7F4B4F; 
         border:solid wheat;
       }
     }
      a{
        color:#7F4B4F;
        text-decoration: none; 
      }
      // ==========================00
    @media (max-width:767px){
      .navbar-brand h1{
        font-size: 1.5em;
      }
      .row #profile{
        margin: auto;
      }
    }
}
// FOOTER//
footer{
  background:#402528;
   #footer{
      color:wheat;
      font-family: 'Barlow Condensed', sans-serif;

    }
}

