/*COLORES ADOBE COLOR */

/*

1.  #FF969E
2.  #E5878E 
3.  #BF7077
4.  #7F4B4F
5.  #402528

#ee7984====rosado 

*/



*{
  // outline: 2px solid red;
  padding: 0px;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}

// HEADER
#icono-contacto{
    color:#402528;
    text-decoration:none;
    .icon-github {
        color:#333;
        font-size:40px;
        margin-left:440px;
        text-decoration:none;
        position:fixed;
        z-index:1000;
        &:hover{
         color:#FF969E;
         font-size:42px;
        }
    }
     .icon-linkedin{
        color:#333;
        font-size:40px;
        margin-top:3%;
        margin-left:440px;
        text-decoration:none;
        position:fixed;
        z-index:1000;
          &:hover{
        color:#FF969E;
        font-size:42px;
      }
    }

}


/*ABOUTME*/
@import "parciales/_variables.scss";
@import "parciales/_menu.scss";
@import "parciales/_media.scss";




#aboutme{
    background:   #BF7077;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    font-family: 'Overpass Mono', monospace;

    #texto-habilidades{
      font-size: 16px;
      margin-top:3%;
      margin-left:44%;
      font-family: 'Voces', arial;
      color:wheat;

    }
  
    // .img-circle{
    //  z-index:-1;
    //  margin-left:42%;
    //  margin-top:1%;
    // }
      h1{
      color:#402528;
      font-size: 50px;
      font-family: 'Overpass Mono', monospace;
   }
    strong{
      color: wheat;
    }

   // #responsive{
   //       width:100%;
   //       height: 60vh;
   //       color:white;
   //      background:#402528;
   //       // transform: rotate(20deg);
   // }

}
// tarjeta===========================================================

// .content-1{
//   width: 900px;
//   height: 900px;
//   position: absolute;
//   top:0;
//   background: rgba(0,100,250,0.0);
//   -webkit-transform:rotate(-10deg);
//   transform: rotate(-25deg);
//   margin-left: -900px;
//   transition:  all 300ms;
// }
// .content-2{
//   width: 1000px;
//   height: 1000px;
//   position: absolute;
//   top:0;
//   background: rgba(0,400,250,0.2);
//   -webkit-transform:rotate(-30deg);
//   transform: rotate(-20deg);
//   margin-left: -800px;
//   -webkit-transition:all 500ms;
//   box-shadow:0px 2px 14px;
//   transition: all 500ms

// }
// .content-3{
//   width: 1000px;
//   height: 1000px;
//   position: absolute;
//   top:0;
//   background: rgba(0,10,0,0.5);
//   -webkit-transform:rotate(-50deg);
//   transform: rotate(-50deg);
//   margin-left: -550px;
//   margin-top: -500px;
//   -webkit-transition:all 90ms;
//   transition: all 800ms;
// }
// .content-4{
//   width: 900px;
//   height: 900px;
//   position: absolute;
//   top:0;
//   background: rgba(0,0,0,0.5);
//   -webkit-transform:rotate(-30deg);
//   transform: rotate(-50deg);
//   margin-left: -500px;
//   margin-top: -450px;
//   -webkit-transition:all 700ms;
//   transition: 700px;
//     box-shadow:0px 1px 10px;
// }
// .content-img:hover .content-1{
//   width: 200%;
//   -webkit-transition: all 900ms;
//   transition: all 900ms
// }
// .content-img:hover .content-2{
//   width: 200%;
//   -webkit-transition: all 300ms;
//   transition: all 300ms
// }
// .content-img:hover .content-3{
//   width: 200%;
//   -webkit-transition: all 500ms;
//   transition: all 500ms
// }

// .content-img:hover .content-4{
//   width: 200%;
//  -webkit-transition: all 700ms;
//   transition: all 700ms
// }

// ==================================================================================


/*HABILIDADES*/

#habilidades{
    background:black;
    height: 100vh;
    color: #E5878E;


  svg{width:30%;
    }
  h1{
      color: #E5878E;
      font-size: 50px;
      font-family: 'Overpass Mono', monospace;
   }
   #separador{
     line-height: 1.5em;
     background: rebeccapurple;
     color: rebeccapurple;
   }
  .habili-progress{
      margin-top: 2%;
   }


   // iconos
  .icon-html-five , .icon-css3 ,.icon-brand4 , .icon-html-five2 , .icon-bold , .icon-brand4, .icon-flattr , .icon-wordpress , .fa-medium , .icon-mask {
        font-size:30px;
        padding: 14px 15px;
        background:transparent;
        // border-radius:50px;
        // border:solid 1px #FF969E;
        // color:#FF969E;
   }  
}
// PROYECTOS//

#proyectos{
  width: 100%;
  height:140vh;
  background: #BF7077;
 
      h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Overpass Mono', monospace;
   }
   p{
     color:wheat;
     font-family: 'Voces', arial;
     font-size: 16px;
   }
  //  img{
  //   width:100%;
  //   height:35vh;
  //  }
   #fondo{
    background: rgba(0,100,250,0.0);

   }
  #color{

      // background:#7F4B4F;
         #proyecto-laptop{
          width:100%;
          height:32vh;
           background-image:url("../img/laptop.png");
           background-repeat: no-repeat;
          background-size:100%;
          background-position: center;
          font-family: 'Voces', arial;

        }
      }
}
//VOLVER AL INICIO
#volver{
  height: 8vh;
  background:#6f393f; 
  margin-top: -60px;

}
// CONTACTO//

#contacto{
  width: 100%;
  height:60vh;
  background: wheat;
  color: #7F4B4F;
  font-family: 'Voces', arial;
      h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Overpass Mono', monospace;
   }
    .icon-mail4,.icon-mobile{
        color:#7F4B4F;
        font-size:30px;
        margin-left:40%;
        padding: 10px 10px;
        border: solid #7F4B4F;
        border-radius: 40px;
      }
      .fa{
        color:rgb(196, 136, 141);
        font-size:30px; 
      }
      a{
        color:#7F4B4F;
        text-decoration: none; 
      }
      button{
         padding: 18px 25px;
        background:transparent;
        border:solid #7F4B4F;
        border-radius: 5px;
        &:hover{
          color: wheat;
          background:#7F4B4F; 
          border:solid wheat;
        }
      }
      .icon-github ,.icon-linkedin {
        color:#7F4B4F;
        font-size:30px;
       
        padding: 10px 10px;
        border: solid #7F4B4F;
        border-radius: 60px;
      }
    }
    


// FOOTER//
footer{
  background:#402528;
   #footer{
      color:wheat;
   font-family: 'Voces', arial;

    }
}






