@media (max-width:360px){
      .background{
      height:100vh;

       }
  
    #mouse-scroll {
      margin-top:-10%;
     }
}
@media (max-width:1000px){

	#aboutme{
		background:white;
		width:100%;
		height: 100vh;

  } 

	#nombre{
		margin-top:36%;
		    }
  .img-circle{
    margin-left:-30px;
    }
	
  #responsive{
		font-size:15px;
    margin-left:-40%;
	    }
  #texto-habilidades{
      font-size:8px; 
      margin-left: 10px; 
      }

header #mouse-scroll {
    margin-left:35%;
    margin-top:20%;
  
}
    h1{
      font-size:8px;
    }
    strong{
      font-size:8px;
    }
// #proyectos img{
//     width:50px;
//     height:50px;
// }

     #icono-contacto{
	    .icon-linkedin{
	        margin-right:20%;
	        font-size:60px;
	    }
	    .icon-github {
            margin-left:-60px;
            font-size:60px;
            position:relative;
	    }
     }

  //  #habilidades{
  //  	margin-top:20%;
  //  }

#proyectos img{
  height:21vh;
  }

  #contacto{
    width:100%;
    height:300vh;
   }
   .icon-mail4{
   	margin-left:-50%;
   	font-size:5px;
   }
   .icon-mobile{
   	margin-left:-120%;
   }
      #phone{
   	font-size:14px;
   	margin-left:-20px;
   }
   #volver{
     margin-top: 40px;
   }

}
@media (max-width:1100px){
 //    .background{
 //      height:60vh;

 //       }
 #texto-habilidades{
      
      margin-top:-60%;
  }

 // #mouse-scroll {
 //    margin-left:45%;
 //    margin-top:40%;
  
 //  }


  //   #habilidades{
  //     margin-top:-20%;
  //   }
  // #proyectos{
  //    margin-top:-35%;
  // }
  // #contacto{
  //   margin-top:-30%;
  // }
}