
@media (max-width:1000px){
  // @media (max-width:320px){
  //   @media (max-width:410px){
    
    #responsive {
      font-size:6px;
        }
  header #mouse-scroll {
      margin-left:30%;
      margin-top:20%;
  }
  

  #mis-proyectos button{
    padding: 10px 20px;
      font-size: 1em;
    }
  

     .icon-mail4{
       margin-left:-50%;
       font-size:5px;
     }
     .icon-mobile{
       margin-left:-120%;
     }
        #phone{
       font-size:14px;
       margin-left:-20px;
     }
     #gallery{
      button{
        font-size:10px;
      }
     }

}
  // @media only screen and (max-width: 410px){
  //   #aboutme{
  //     height:50vh;
  //   }
   
  //   header #mouse-scroll {
  //     margin-top:50%;
    
  // }
  
  // }
  
  