
header{
  overflow: hidden;
  font-weight:600;
  font-family: 'Barlow Condensed', sans-serif;
}

#nav-negro {
  height: 5vh;
  background: black;
  position: fixed;
  z-index: 1000;
  width: 100%; }

nav {
  top: 0;
  left: 0;
  width: 100%;
  color: wheat;
  height: 60px;
  z-index: 1000;
  margin-top: 0;
  position: fixed;
  padding-top: 0;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

span{
  font-size: 30px;
  color:#402528;
  // background:#402528;
  // padding:10px 10px;
  // border: solid #402528;
  // border-radius:10px;
  
  
   .fa{
    font-size: 40px;
    color:#402528;
    margin-top:1%;
    margin-left:1%;
  }

}
.logo, .menu {
  position: absolute;
  z-index: 2000; }

.logo {
  left: 0;
  top: -4px;
  width: 70px;
  height: 74px;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 180%; }

#toggle {
 /* width: 5%;
  height: 9vh;*/
  padding: 22px 20px;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat ;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin:left;
}

.menu {
  top: 0;
  right: 0;
  height: 4px;
  width: 30px;
  text-align: right;
  margin: 2rem 2rem;
  background-color: black;
  transition: all 0.3s; }

.menu:before, .menu:after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: black;
  position: absolute;
  z-index: -1; }

.menu:before {
  top: -8px; }

.menu:after {
  top: 8px; }

#toggle:hover .menu:before {
  top: -9px; }

#toggle:hover .menu:after {
  top: 9px; }

.open .menu {
  background: none !important; }

.open .menu:after {
  top: 0 !important;
  background: wheat !important;
  transform: rotate(45deg); }

.open .menu:before {
  top: 0 !important;
  background: wheat !important;
  transform: rotate(-45deg); }

nav .nav-background {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open .nav-background {
  opacity: 1;
  background-color: rgba(59, 44, 44, 0.9);
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open {
  height: 100%;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63); }

nav ul li {
  visibility: hidden; }

nav ul li a {
  color: wheat;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em; }

nav ul li a:focus {
  color: #F03C5B;
  text-decoration: none;
  list-style: none; }

nav ul li a:hover {
  color:#F03C5B;
  text-decoration: none;
  list-style: none; }

nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg); }

nav.open ul li {
  color: wheat;
  font-size: 50px;
  visibility: visible !important; }

.solid #toggle .menu {
  background: wheat; }

.solid #toggle .menu:after {
  background-color: wheat; }

.solid #toggle .menu:before {
  background-color: wheat; }

.logo {
  margin-left: 40px;
  margin-top: 40px; }

.overflow-hidden {
  overflow: hidden; }

.background{
    width:100%;
     // height: 100vh;
     background-image: url('../img/home.jpg');
     background-size: cover, 100% 100%;
     transition: 3s background-position;
     min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   }

  header #mouse-scroll {
    // margin-left: 708px;
    margin-top: 180px;
    width: 130px;
     }
   #nombre{
     width: 100%;
     height: auto;
    margin-top: 16%;
    padding: 0px 6px 3px;
    background: rgba(9, 10, 5, 0.7);
     }
   #nombre h1{
  
    color:#E5878E ;
    font-size:5.8em;
    font-weight:600;
    font-family: 'Barlow Condensed', sans-serif;
       }
   #nombre h2{
    font-size:4em;
    color:wheat;
    font-weight:500;
    // margin-top:-10px;
       }
  button{
    padding:10px 15px;
    background:transparent;
    border:solid #FF969E;
    border-radius: 10px;

       }

// 1.  #FF969E
// 2.  #E5878E 
// 3.  #BF7077
// 4.  #7F4B4F
// 5.  #402528