@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

i{
	font-size:40px;
}

.gallery {
	
	
	background: #BF7077;
    h1{
        color: #402528;
        font-size: 50px;
        font-weight:600;
        font-family: 'Barlow Condensed', sans-serif;
	 }
	 button{
	   padding: 10px 16px;
	   background:transparent;
	   border:solid #BF7077;
	   border-radius: 5px;
	   font-size: 20px;
	   color:#BF7077;
	   &:hover{
		 color: #402528;
		 background:#BF7077; 
 
	   }
	}
	  .fa{
        color:#7F4B4F;
        font-size:1em;
       
      }

	 // button{
  //       padding: 10px 16px;
  //      background:transparent;
  //      border:solid #7F4B4F;
  //      border-radius: 5px;
  //      font-weight:600;
  //      &:hover{
  //        color: wheat;
  //        background:#7F4B4F; 
  //        border:solid wheat;
  //      }
  //    }

	figure {
		position: relative;
		display: inline-block;
		margin: 5px;
		background: rgba(98, 44, 44, 0.3);
		border: 1px solid #FF969E;
		font-size: 0;
		overflow: hidden;
		figcaption {
			position: absolute;
			top: 50%; left: 0;
			transform: translateY(-50%);
			width: 100%;
			max-height: 100%;
			padding: 15px;
			text-align: left;
			font-size: 1rem;
			opacity: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			&::-webkit-scrollbar { width: 4px; }
			&::-webkit-scrollbar-track { background: transparent; }
			&::-webkit-scrollbar-thumb { background: #0000; }
			&::-webkit-scrollbar-thumb:hover { background: #fff; }
		}

		img {
			max-width: 100%;
		}
		&:hover {
			figcaption { opacity: 1; }
			img { filter: blur(50px) saturate(5) opacity(0.5); }
		}
	}
}
    @media (max-width:767px){
 
       .row #profile{
        margin: auto;
      }
    }

