/*COLORES ADOBE COLOR */
/*

1.  #FF969E
2.  #E5878E 
3.  #BF7077
4.  #7F4B4F
5.  #402528

#ee7984====rosado 

*/
/*ABOUTME*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
i {
  font-size: 40px; }

.gallery {
  background: #BF7077; }
  .gallery h1 {
    color: #402528;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif; }
  .gallery button {
    padding: 10px 16px;
    background: transparent;
    border: solid #BF7077;
    border-radius: 5px;
    font-size: 1.8em;
    color: #BF7077;
    margin-left: 8%; }
    .gallery button:hover {
      color: #402528;
      background: #BF7077; }
  .gallery .fa {
    color: #402528;
    font-size: 1.5em; }
  .gallery figure {
    position: relative;
    display: inline-block;
    margin: 5px;
    background: rgba(98, 44, 44, 0.3);
    border: 1px solid #FF969E;
    font-size: 0;
    overflow: hidden; }
    .gallery figure figcaption {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      max-height: 100%;
      padding: 15px;
      text-align: left;
      font-size: 1rem;
      opacity: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
      .gallery figure figcaption::-webkit-scrollbar {
        width: 4px; }
      .gallery figure figcaption::-webkit-scrollbar-track {
        background: transparent; }
      .gallery figure figcaption::-webkit-scrollbar-thumb {
        background: #0000; }
      .gallery figure figcaption::-webkit-scrollbar-thumb:hover {
        background: #fff; }
    .gallery figure img {
      max-width: 100%; }
    .gallery figure:hover figcaption {
      opacity: 1; }
    .gallery figure:hover img {
      filter: blur(50px) saturate(5) opacity(0.5); }

@media (max-width: 767px) {
  .row #profile {
    margin: auto; } }
header {
  overflow: hidden;
  font-weight: 600;
  font-family: 'Barlow Condensed', sans-serif; }

#nav-negro {
  height: 5vh;
  background: black;
  position: fixed;
  z-index: 1000;
  width: 100%; }

nav {
  top: 0;
  left: 0;
  width: 100%;
  color: wheat;
  height: 60px;
  z-index: 1000;
  margin-top: 0;
  position: fixed;
  padding-top: 0;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

span {
  font-size: 30px;
  color: #402528; }
  span .fa {
    font-size: 40px;
    color: #402528;
    margin-top: 1%;
    margin-left: 1%; }

.logo, .menu {
  position: absolute;
  z-index: 2000; }

.logo {
  left: 0;
  top: -4px;
  width: 70px;
  height: 74px;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 180%; }

#toggle {
  /* width: 5%;
   height: 9vh;*/
  padding: 22px 20px;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: left; }

.menu {
  top: 0;
  right: 0;
  height: 4px;
  width: 30px;
  text-align: right;
  margin: 2rem 2rem;
  background-color: black;
  transition: all 0.3s; }

.menu:before, .menu:after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: black;
  position: absolute;
  z-index: -1; }

.menu:before {
  top: -8px; }

.menu:after {
  top: 8px; }

#toggle:hover .menu:before {
  top: -9px; }

#toggle:hover .menu:after {
  top: 9px; }

.open .menu {
  background: none !important; }

.open .menu:after {
  top: 0 !important;
  background: wheat !important;
  transform: rotate(45deg); }

.open .menu:before {
  top: 0 !important;
  background: wheat !important;
  transform: rotate(-45deg); }

nav .nav-background {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open .nav-background {
  opacity: 1;
  background-color: rgba(59, 44, 44, 0.9);
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open {
  height: 100%;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63); }

nav ul li {
  visibility: hidden; }

nav ul li a {
  color: wheat;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em; }

nav ul li a:focus {
  color: #F03C5B;
  text-decoration: none;
  list-style: none; }

nav ul li a:hover {
  color: #F03C5B;
  text-decoration: none;
  list-style: none; }

nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg); }

nav.open ul li {
  color: wheat;
  font-size: 50px;
  visibility: visible !important; }

.solid #toggle .menu {
  background: wheat; }

.solid #toggle .menu:after {
  background-color: wheat; }

.solid #toggle .menu:before {
  background-color: wheat; }

.logo {
  margin-left: 40px;
  margin-top: 40px; }

.overflow-hidden {
  overflow: hidden; }

.background {
  width: 100%;
  background-image: url("../img/home.jpg");
  background-size: cover, 100% 100%;
  transition: 3s background-position;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

header #mouse-scroll {
  margin-top: 180px;
  width: 130px; }

#nombre {
  width: 100%;
  height: auto;
  margin-top: 16%;
  padding: 0px 6px 3px;
  background: rgba(9, 10, 5, 0.7); }

#nombre h1 {
  color: #E5878E;
  font-size: 5.8em;
  font-weight: 600;
  font-family: 'Barlow Condensed', sans-serif; }

#nombre h2 {
  font-size: 4em;
  color: wheat;
  font-weight: 500; }

button {
  padding: 10px 15px;
  background: transparent;
  border: solid #FF969E;
  border-radius: 10px; }

@media (max-width: 1000px) {
  #nombre {
    height: auto; }

  #responsive {
    font-size: 6px; }

  header #mouse-scroll {
    margin-left: 150px;
    margin-top: 20%; }

  #mis-proyectos button {
    padding: 10px 20px;
    font-size: 1em; }

  .icon-mail4 {
    margin-left: -50%;
    font-size: 5px; }

  .icon-mobile {
    margin-left: -120%; }

  #phone {
    font-size: 14px;
    margin-left: -20px; }

  .btn {
    padding: 0px 10px;
    font-size: 0.5em;
    margin-left: 0px; } }
@media (min-width: 320px) {
  header #mouse-scroll {
    margin-left: 100px; } }
@media (min-width: 360px) {
  header #mouse-scroll {
    margin-left: 120px; } }
@media (min-width: 412px) {
  header #mouse-scroll {
    margin-left: 150px; } }
@media (min-width: 414px) {
  header #mouse-scroll {
    margin-left: 145px; } }
@media (min-width: 768px) {
  header #mouse-scroll {
    margin-left: 326px; } }
@media (min-width: 1024px) {
  header #mouse-scroll {
    margin-left: 440px; } }
@media (min-width: 1050px) {
  header #mouse-scroll {
    margin-left: 565px; } }
#about {
  background-color: #BF7077; }
  #about #profile {
    border-radius: 50%;
    margin: auto;
    clear: right; }
  #about h1 {
    color: #402528;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif; }
  #about .jumbotron {
    background-color: #f4a19a;
    margin-top: auto; }
  #about .row #about-me {
    font-family: 'Barlow Condensed', sans-serif;
    color: wheat;
    text-align: center;
    margin: 15px auto;
    font-size: 1.4em; }
  #about #belowhr {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    color: wheat;
    font-size: 1.1em;
    font-weight: bold; }
  #about #decorate {
    font-size: 1.8em;
    margin: 35px 10px 5px; }
  #about .frase {
    color: wheat;
    font-size: 1.5em;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 20%; }
  #about .autor {
    margin-left: 0%; }
  #about hr {
    border-top: 5px solid  wheat; }

/*HABILIDADES*/
#habilidades {
  width: 100%;
  height: auto;
  background: black;
  margin-top: -5%; }
  #habilidades svg {
    width: 30%; }
  #habilidades h1 {
    color: #E5878E;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif; }
  #habilidades h3 {
    font-size: 1.5em;
    font-family: 'Barlow Condensed', sans-serif;
    color: #E5878E; }
    #habilidades h3 .sass {
      width: 100%;
      height: 30px;
      color: #E5878E;
      padding: 0em;
      transition: 150ms ease transform; }
    #habilidades h3 .sass:hover {
      transform: scale(1.2); }
  #habilidades text {
    color: wheat; }
  #habilidades .icon-html-five, #habilidades .icon-css3, #habilidades .icon-brand4, #habilidades .icon-html-five2, #habilidades .icon-bold, #habilidades .icon-brand4, #habilidades .icon-flattr, #habilidades .icon-wordpress, #habilidades .fa-medium, #habilidades .icon-mask {
    font-size: 1.5em;
    color: #E5878E;
    margin-top: 10%; }

.panel-footer {
  width: 100%;
  background: #000;
  font-family: 'Barlow Condensed', sans-serif; }
  .panel-footer #fondo {
    background: black; }
  .panel-footer #contacto {
    background-color: wheat; }
  .panel-footer h1 {
    color: #402528;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif; }
  .panel-footer .icon-mail4 {
    color: #7F4B4F;
    font-size: 30px;
    margin-left: 5%;
    padding: 10px 10px;
    border: solid #7F4B4F;
    border-radius: 40px; }
  .panel-footer .panel-footer #follow a {
    margin-right: 5px;
    font-size: 1.5em;
    color: white; }
  .panel-footer .panel-footer #follow a:hover {
    color: #7F4B4F; }
  .panel-footer .last {
    border-top: 2px solid #7F4B4F;
    border-style: #7F4B4F; }
  .panel-footer p {
    font-size: 1.4em; }
  .panel-footer .fa-github, .panel-footer .fa-linkedin, .panel-footer .fa-pinterest {
    color: #7F4B4F;
    font-size: 2em;
    padding: 10px 10px;
    border: solid #7F4B4F;
    margin: 10px; }
    .panel-footer .fa-github:hover, .panel-footer .fa-linkedin:hover, .panel-footer .fa-pinterest:hover {
      color: #402528; }
  .panel-footer button {
    padding: 10px 16px;
    background: transparent;
    border: solid #7F4B4F;
    border-radius: 5px;
    font-weight: 600; }
    .panel-footer button:hover {
      color: wheat;
      background: #7F4B4F;
      border: solid wheat; }
  .panel-footer a {
    color: #7F4B4F;
    text-decoration: none; }
  @media (max-width: 767px) {
    .panel-footer .navbar-brand h1 {
      font-size: 1.5em; }
    .panel-footer .row #profile {
      margin: auto; } }

footer {
  background: #402528; }
  footer #footer {
    color: wheat;
    font-size: 1.5em;
    font-family: 'Barlow Condensed', sans-serif; }

/*# sourceMappingURL=main.css.map */
